body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#gameboard {
  display: flex;
  justify-content: center;
}

.square {
  width: 200px;
  height: 200px;
}

.beige {
  background-color: rgb(227, 227, 199);
}

.brown {
  background-color: rgb(96, 54, 54);
}

.chess-piece {
  width: 200px;
  height: 200px;
}

#info {
  display: flex;
  justify-content: center;
  height: 30px;
}

.highlight {
  background-color: rgb(233, 102, 102);
}

.target {
  border: solid 10px rgb(169, 56, 56);
  box-sizing: border-box;
}
